# databases
DB_URL_SYNC_LOCAL="postgresql://postgres:postgres@localhost:5432/payments"
DB_URL_LOCAL="postgresql+asyncpg://postgres:postgres@localhost:5432/payments"
DB_URL_DOCKER="postgresql+asyncpg://postgres:postgres@postgres:5432/payments"

# redis
REDIS_URL="redis://redis:6379"

# postgres (docker compose)
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="change_me"
POSTGRES_DB="payments"

# services
PROVIDER_URL="http://providers:8002"
ROUTER_URL="http://router:8001/router"
FRAUD_URL="http://fraud:8004/fraud"